@model int

<tr class="cargoRow" id="@Model">
    <td>
        <div class="editor-field">
            <input id="RequestFreightCargoes_@(Model)_CargoId" name="RequestFreightCargoes[@(Model)].CargoId"
                type="hidden" value='' />
            <input id="RequestFreightCargoes_@(Model)_CargoName" name="RequestFreightCargoes[@(Model)].CargoName"
                type="text" value='' style="width: 380px" />
        </div>
    </td>
    <td>
        <div class="editor-field">
            <input id="RequestFreightCargoes_@(Model)_Weight" name="RequestFreightCargoes[@(Model)].Weight"
                type="text" class="decimal-value" style="width: 75px" />
        </div>
    </td>
    <td>
        <div class="editor-field">
            <input id="RequestFreightCargoes_@(Model)_Length" name="RequestFreightCargoes[@(Model)].Length"
                type="text" class="decimal-value" style="width: 75px" />
        </div>
    </td>
    <td>
        <div class="editor-field">
            <input id="RequestFreightCargoes_@(Model)_Width" name="RequestFreightCargoes[@(Model)].Width" type="text"
                class="decimal-value" style="width: 75px" />
        </div>
    </td>
    <td>
        <div class="editor-field">
            <input id="RequestFreightCargoes_@(Model)_Height" name="RequestFreightCargoes[@(Model)].Height"
                type="text" class="decimal-value" style="width: 75px" />
        </div>
    </td>
    <td>
        <div class="editor-field">
            <input id="RequestFreightCargoes_@(Model)_Volume" name="RequestFreightCargoes[@(Model)].Volume"
                type="text" class="decimal-value" style="width: 75px" />
        </div>
    </td>
    <td style="vertical-align:top">
        <div style="margin-top:4px" id="row-btn">
            <a href="#" class="btn btn-danger btn-mini btn-del-cargo">удалить</a>
        </div>
    </td>
</tr>
