<ul class="nav pull-right">                                   
    <li><a href="#" id="user"><i class="icon-user"></i> @Intranet.Utils.AccountManager.GetUserDisplayName(User.Identity.Name)</a></li>   
</ul>