@model int

@{
    ViewBag.Title = "Завка опубликована";
    string backController = ViewBag.BackController;
}

@*<div class="alert">    
    <strong>Завка опубликована и ожидает подписи руководителя.</strong> Обращаем ваше внимание, что заявка не будет доступна диспетчеру до того момента, пока руководитель не подпишет её. Как только заявка будет подписана, её статус изменится на "Подписана" и диспетчер сможет её обработать
</div>*@
<h3>
    Заявка опубликована и ожидает подписи руководителя.
</h3>
<p>
    Обращаем ваше внимание, что на данный момент заявка имеет статус <span class='label'>Опубликована</span> и не будет доступна диспетчеру до того момента, пока руководитель не подпишет её. Как только заявка будет подписана, её статус изменится на <span class='label label-warning'>Подписана</span> и диспетчер сможет её обработать.
    После обработки заявки диспетчером её статус изменится на <span class='label label-success'>Принята</span>
</p>

<table style="width:100%">
    <tr>
        <td>
            @Html.ActionLink("Просмотреть заявку", "Details", backController, new {Id = Model}, new {@class = "btn btn-primary"})
        </td>
        <td>
            <div class="pull-right">
            @Html.ActionLink("Вернуться к общему списку", "Index", "Home", null, new { @class = "btn btn-primary"})
            </div>
        </td>
    </tr>
</table>

