@model Intranet.Models.RequestCraneSlinger

<tr>
    <td>
        <div class="display-field">
            @Html.DisplayFor(c => c.Office)
        </div>
    </td>
    <td>
        <div class="display-field">
            @Html.DisplayFor(c => c.FIO)
        </div>
    </td>
    <td>
        <div class="display-field">
            @Html.DisplayFor(c => c.CertificateNumber)
        </div>
    </td>
    <td>
        <div class="display-field">
           @Html.DisplayFor(c => c.DateKnowledge)
        </div>
    </td>    
</tr>